.preview
    height: 480px
    &__bg
        width: 100%
        height: 100%
        object-fit: cover

.promo
    margin-top: -90px
    &__wrap
        display: flex
        align-items: stretch
        justify-content: flex-end
        @include sm
            flex-direction: column
            max-width: 444px
            margin-left: auto
    &__info
        margin-right: 30px
        flex: 0 0 380px
        @include sm
            margin-right: 0
            margin-bottom: 100px
        @include xxs
            margin-bottom: 70px
    &__img
        flex: 0 1 482px
        img
            height: 100%
            object-fit: cover

.features
    &__wrap
        padding-left: 100px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 132px
        @include md
            gap: 104px
    &__item
        &_reverse
            padding-top: 60px
    &__name
        position: relative
        max-width: 278px
        text-align: center
        margin-left: -100px
        margin-top: -40px
        font-family: $arina
        font-size: 70px
        line-height: 100%
        &_bottom
            margin-top: 0px
            margin-bottom: -37px
        &__img
            width: 100%
            object-fit: cover

.tradition
    background: $main-color
    padding-bottom: 342px
    &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__left
        margin-right: 132px
        padding-left: calc((100% - 1200px)/2)
        display: flex
        flex-direction: column
        position: relative
        @include md
            padding-left: 20px
            margin-right: 70px
        @include xxs
            padding-left: 15px
    &__left-content
        width: 688px
        @include md
            width: 628px
    &__right
        @media(min-width: 1920px)
            margin-right: calc((100% - 1900px) / 2)
    &__text
        margin-left: auto
    &__bottom
        position: absolute
        right: 0
        bottom: -120px
        transform: translateY(100%)
        width: 100%
        height: 540px
        @media(min-width: 1920px)
            width: 80%
            height: 640px
        img
            width: 100%
            height: 100%
            object-fit: cover

.country
    padding-top: 510px
    @media(min-width: 1920px)
        padding-top: 610px
    &__title
        position: relative
    &__wrap
        display: flex
    &__left
        margin-right: 30px
        display: flex
        flex-direction: column
        flex: 0 0 688px
        @include md
            width: 628px
    &__right
        align-self: flex-end
        padding-top: 360px
    &__img
        width: 55%
        margin-left: auto
        margin-top: -200px

.story
    background: $main-color

.swiper-slide
    img
        width: 100%
